@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  color: white;
}

.page__text-font {
  font-family: Epilogue , sans-serif;
}

.planetcard__text-center {
  text-align: center;
}

.planetcard__text-weight {
  font-weight: 600;
}
